/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #0c77f2;
  --secondary-color: #f0f2f5;
  --text-primary: #111418;
  --text-secondary: #60748a;
  --background-color: #ffffff;
  --surface-color: #f8f9fa;
  --text-primary-color: #111418;
  --text-secondary-color: #60748a;
  --border-color: #e5e7eb;
}
